---
layout: default
title: Comics
permalink: /comics/
tag: Comic
---

<main class="page-content" aria-label="Content">
    <section class="chapters cf">
        <div><h1 class="tag-title">{{ page.title }}</h1></div>
        <div class="wrapper flex-row">
            {% for post in site.tags[page.tag] %}
                <div class="chapter">
                    <a href="{{post.url | prepend: site.baseurl}}">
                        {% if post.img %}
                            <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
</main>