$white: #fffefb
$text_color: #525c65
$dark: #272323
$dark_gray: #363333
$white_gray: #e6e6e6
$light_gray: #bfbbb2
$color_gray: #6e6e6e
$dark_light: #333333
$highlight: #e16d36
$highlight_lighten: #f78f5d
$highlight_lightest: #e3b591
$gray_accent: #bfbbb2