<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	<!-- Generic Icon Link -->
	<link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/img/Icons/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#e16d36">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/img/Icons/android-icon-192x192.png" | prepend: site.baseurl }}" >
	<!-- Windows Phone -->
	<meta name="msapplication-TileColor" content="#e16d36">
	<meta name="msapplication-TileImage" content=href="{{ "/assets/img/Icons/ms-icon-144x144.png" | prepend: site.baseurl }}">
	<meta name="msapplication-navbutton-color" content="#e16d36">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/Icons/favicon-16x16.png" | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/Icons/favicon-32x32.png" | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/img/Icons/favicon-96x96.png" | prepend: site.baseurl }}">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#e16d36">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/img/Icons/apple-icon-57x57.png" | prepend: site.baseurl }}" >
	<link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/img/Icons/apple-icon-60x60.png" | prepend: site.baseurl }}" >
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/Icons/apple-icon-72x72.png" | prepend: site.baseurl }}" >
	<link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/img/Icons/apple-icon-76x76.png" | prepend: site.baseurl }}" >
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/Icons/apple-icon-114x114.png" | prepend: site.baseurl }}" >
	<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/img/Icons/apple-icon-120x120.png" | prepend: site.baseurl }}" >
	<link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/img/Icons/apple-icon-144x144.png" | prepend: site.baseurl }}" >
	<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/img/Icons/apple-icon-152x152.png" | prepend: site.baseurl }}" >
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/Icons/apple-icon-180x180.png" | prepend: site.baseurl }}" >
	<link rel="manifest" href="{{ "/assets/img/Icons/manifest.json" | prepend: site.baseurl }}" >
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
</head>
