<section class="top-nav">
    <div class="menu-title">
        <a href="{{site.baseurl}}/" class="logo">{% if site.header %}{{site.header}}{% else %}Website Title{% endif %}</a>
    </div>
    <input id="menu-toggle" type="checkbox"/>
    <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
    </label>
    <ul class="menu">
        <li><a href="{{site.baseurl}}/comics/">Comics</a></li>
        <li><a href="{{site.baseurl}}/memories/">Memories</a></li>
        <li><a href="{{site.baseurl}}/archive/">Archive</a></li>
        <li><a href="{{site.baseurl}}/about/">About</a></li>
    </ul>
</section>