// - - - - - - - - - - Footer Styles - - - - - - - - - - //

@import ../variables

.main_footer
  background-color: $darker
  margin-top: auto
  width: 100%

.social
  border-radius: 0.5rem
  overflow: hidden

.social_footer
  padding: 0.75rem
  list-style: none
  text-align: center
  margin: 0
  li
    display: inline-block
    margin-left: 0.5rem
  a
    color: $dark
    display: inline-block
    padding: 0.7rem 1rem
    margin: 0.0rem 0
    text-decoration: none
    font-size: 1.2rem
    border-radius: 0.3rem
    background-color: $white
    // transition: all .35s ease-in-out
    &:hover
      background-color: $highlight
      color: $darker

.copyright
  text-align: center
  p
    color: $white
    font-size: 0.7rem
    text-transform: uppercase
    margin: 0
    a
      text-decoration: none
      color: $highlight
      // transition: all .35s ease-in-out
      &:hover
        color: rgba($highlight, 0.6)