// - - - - - - - - - - Header Styles - - - - - - - - - - //

@import ../variables
@import node_modules/rfs/sass

// ---- Hamburger Overrides ----

$hamburger-types: (spring-r)
$hamburger-layer-color  : $gray_accent

.hamburger-label
  +font-size(2em)
  color: $gray_accent
  padding-left: 0.5em

// ---- Header Styles ----

.main_header
  padding: 2rem
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $darkest
  font-family: BoldlyMissy, sans-serif
  z-index: 1
  .logo
    +font-size(2.7rem)
    color: $highlight
    margin: 0
    text-decoration: none
  .navigation
    opacity: 0

    .is-active
      opacity: 1

    a
      color: $gray-accent
      text-decoration: none
      +font-size(2rem)
      +margin-left(2rem)
