// - - - - - - - - - - Header Styles - - - - - - - - - - //

@import ../variables
@import '../../../node_modules/rfs/sass'

.main_header
  padding: 2rem
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $darkest
  font-family: BoldlyMissy, sans-serif
  z-index: 1
  .logo
    +font-size(2.7rem)
    color: $highlight
    margin: 0
    text-decoration: none
  nav
    a
      color: $gray-accent
      text-decoration: none
      +font-size(2rem)
      +margin-left(2rem)
